In [2]:
import pandas as pd
import pymssql
import os
from dotenv import load_dotenv
import dotenv

In [3]:
load_dotenv(override=True)

True

In [4]:
conn = pymssql.connect(
    host=r'MSSQLCLUSTER.each.com.au',
    user=os.getenv('WIN_USERNAME'),
    password=os.getenv('PASSWORD'),
    database='EACH Business Intelligence Production'
)

In [5]:
cursor = conn.cursor(as_dict=True)

In [6]:
cursor.execute(
"""
SELECT TOP (1000) [TC_Client_PK]
      ,[TC_Client_ID]
      ,[TC_Client_SLK]
      ,[TC_Client_First_Name]
      ,[TC_Client_Last_Name]
      ,[TC_Client_DOB]
      ,[TC_Client_Mobile]
      ,[TC_Client_Deceased]
      ,[TC_Client_Interpreter_Required]
  FROM [EACH Business Intelligence Production].[dbo].[TC_Client]
"""
)

In [7]:
data = cursor.fetchall()

In [8]:
df = pd.DataFrame(data)

In [13]:
df.tail(2)

,TC_Client_PK,TC_Client_ID,TC_Client_SLK,TC_Client_First_Name,TC_Client_Last_Name,TC_Client_DOB,TC_Client_Mobile,TC_Client_Deceased,TC_Client_Interpreter_Required
998,166646,00174442,MEYJO05051954,Josephine,MEYLAND,1954-05-05,None,N,N
999,166647,00174443,SEDCH08011971,Charlene,SEDLINS,1971-01-08,None,N,N

In [10]:
df.shape

(1000, 9)

In [15]:
df['TC_Client_Deceased'].nunique()

2

In [36]:
df['TC_Client_DOB'].plot()

TypeError: no numeric data to plot

In [23]:
df.groupby(['TC_Client_DOB', 'TC_Client_Deceased'])['TC_Client_ID'].count()

TC_Client_DOB  TC_Client_Deceased
1921-09-29     N                     1
1926-09-25     N                     1
1927-09-02     N                     1
1929-05-30     N                     1
1929-07-28     N                     1
                                    ..
2017-03-25     N                     1
2017-04-24     N                     1
2017-08-29     N                     1
2017-10-15     N                     1
2018-01-01     N                     1
Name: TC_Client_ID, Length: 609, dtype: int64

In [35]:
df['TC_Client_First_Name'].str.replace('L', 'M')

0         Meanne
1        Chiuyee
2         Juliet
3          Jayne
4          Minda
         ...
995     Michelle
996       Jaycob
997         Misa
998    Josephine
999     Charlene
Name: TC_Client_First_Name, Length: 1000, dtype: object

In [27]:
# Join pd.merge(left=df1, right=df2, how='right', on=['id', 'first_name'])

In [28]:
# group

In [29]:
# filter