In [1]:
from dataverse import DataverseClient

In [2]:
client = DataverseClient()

In [ ]:
client.authenticate()

In [5]:
df = client.get('bi_projects')

get https://orgfc831d9e.crm6.dynamics.com/api/data/v9.2/bi_projects? 200 OK

In [7]:
df.shape

(21, 36)

In [8]:
df = client.get('contacts')

get https://orgfc831d9e.crm6.dynamics.com/api/data/v9.2/contacts? 200 OK
get https://orgfc831d9e.crm6.dynamics.com/api/data/v9.2/contacts?$skiptoken=%3Ccookie%20pagenumber=%222%22%20pagingcookie=%22%253ccookie%2520page%253d%25221%2522%253e%253ccontactid%2520last%253d%2522%257b136159BF-3282-EC11-8D21-002248929DC9%257d%2522%2520first%253d%2522%257bCB2F9386-E86C-EC11-8943-000D3A6B587C%257d%2522%2520%252f%253e%253c%252fcookie%253e%22%20istracking=%22False%22%20/%3E 200 OK

In [9]:
df.shape

(6644, 226)

In [10]:
df.head()

,@odata.etag,customertypecode,address2_addresstypecode,merged,territorycode,emailaddress1,haschildrencode,exchangerate,preferredappointmenttimecode,isbackofficecustomer,...,address1_longitude,address2_primarycontactname,entityimage,middlename,address3_latitude,salutation,aging60_base,pager,address3_country,address2_country
0,"W/""2670442""",1,1,False,1,robin.du@each.com.au,1,1.0,1,False,...,None,None,None,None,None,None,None,None,None,None
1,"W/""3009599""",1,1,False,1,RobinDuAdmin@each.com.au,1,NaN,1,False,...,None,None,None,None,None,None,None,None,None,None
2,"W/""3180756""",1,1,False,1,mailresource652@each.com.au,1,NaN,1,False,...,None,None,None,None,None,None,None,None,None,None
3,"W/""3180768""",1,1,False,1,nicola.valcanis_optusnet.com.au#EXT#@365each.o...,1,NaN,1,False,...,None,None,None,None,None,None,None,None,None,None
4,"W/""3180773""",1,1,False,1,linda-lou.haverkort_ndis.gov.au#EXT#@365each.o...,1,NaN,1,False,...,None,None,None,None,None,None,None,None,None,None