In [37]:
import pandas as pd
import pymssql
import os
from dotenv import load_dotenv
import dotenv

In [38]:
load_dotenv(override=True)

True

In [39]:
conn = pymssql.connect(
    host=r'MSSQLCLUSTER.each.com.au',
    user=os.getenv('USERNAME'),
    password=os.getenv('PASSWORD'),
    database='EACH Business Intelligence Production'
)

In [40]:
cursor = conn.cursor(as_dict=True)

In [41]:
cursor.execute(
"""
SELECT TOP (1000) [TC_Client_PK]
      ,[TC_Client_ID]
      ,[TC_Client_SLK]
      ,[TC_Client_First_Name]
      ,[TC_Client_Last_Name]
      ,[TC_Client_DOB]
      ,[TC_Client_Mobile]
      ,[TC_Client_Deceased]
      ,[TC_Client_Interpreter_Required]
  FROM [EACH Business Intelligence Production].[dbo].[TC_Client]
"""
)

In [42]:
data = cursor.fetchall()

In [43]:
df = pd.DataFrame(data)

In [44]:
df.head()

,TC_Client_PK,TC_Client_ID,TC_Client_SLK,TC_Client_First_Name,TC_Client_Last_Name,TC_Client_DOB,TC_Client_Mobile,TC_Client_Deceased,TC_Client_Interpreter_Required
0,248051,00229103,FRICH21121941,Chester,FRICKE,1941-12-21,0434495648,N,None
1,248052,00229104,ROGLY08011949,Lynda,ROGASCH,1949-01-08,401475675,N,None
2,248053,00229105,SUNFR30061991,Frances,SUN,1991-06-30,0421600891,N,N
3,248054,00229106,LUCDI04121946,Dianne,LUCAS,1946-12-04,0419302051,N,None
4,248055,00229107,WALSA04011947,Saskia,WALKER,1947-01-04,433588601,N,None

In [36]:
df.shape

(1000, 9)